{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail de l'article {{ article.nom }}</title>
    <link rel="stylesheet" href="{% static 'search/produit_detail.css' %}">
</head>
<body>

    <div class="container">
        <a href="{% url 'search:index' %}" class="back-link">
            Retour à la page d'accueil
        </a>

        <article>

            <h1>{{ article.nom }}</h1>

            <div class="code">
                Article n° {{ article.code }}
            </div>

            <div class="info">
                <div class="label"> Marque : </div>
                <div>{{ article.marque }}</div>
            </div>

            <div class="info">
                <div class="label"> Catégorie(s) : </div>
                <div>{{ article.categorie }}</div>
            </div>

            <div class="info">
                <div class="label"> Nutriscore : </div>
                <span>{{ article.nutriscore }}</span>
            </div>

            <div class="info">
                <div class="label"> Code barre : </div>
                <div>{{ article.code }}</div>
            </div>

            <div class="info">
                <div class="label"> Ingrédients : </div>
                <div>{{ article.ingredients }}</div>
            </div>

        </article>

    </div>

</body>
</html>