<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Detail de l'article {{ article.nom }}</title>
</head>
<body>
    <h1>Détail de l'article n° {{ article.code }}</h1>
    <p><strong>Nom :</strong> {{ article.nom }}</p>
    <p><strong>Nutriscore :</strong> {{ article.nutriscore }}</p>
    <p><strong>Catégorie :</strong> {{ article.categorie }}</p>
    <p><strong>Code :</strong> {{ article.code }}</p>
    <p><strong>Ingrédients :</strong> {{ article.ingredients }}</p>
</body>